:root {
    --main-color: #000000;
    --sec-color: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Sora', sans-serif;
    color: var(--sec-color);
}

html {
    scroll-behavior: smooth;
  }
  
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-color: var(--main-color);
}

.circle {
    --circle-size: 40px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid white;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
  }
